body {
  background-color: powderblue;
}
form { 
  display: table;
}
p {
  display: table-row;
}
label {
  display: table-cell;
  padding: 0px 10px 0px 0px;
}
input {
  display: table-cell;
}
button {
  display: table-cell;
}
